/* .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
  grid-gap: 1em;
  padding: 0.7em;
  justify-items: center;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
} */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
  grid-gap: 1em;
  padding: 0.7em;
  justify-content: space-between;
  align-content: start;
  /* background-color: rgba(117, 109, 109, 0.7); */
  /* border: solid 2px; */
}

ul {
  list-style-type: none;
  padding: 0;
}
